<div class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Movies Collection</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard"
          >Dashboard <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openDialog()">Add Movies</a>
      </li>
    </ul>

    <form
      class="form-inline my-2 my-lg-0"
      #userForm="ngForm"
      (ngSubmit)="isCheck(userForm)"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        name="search"
        autocomplete="off"
        placeholder="Search Here"
        ngModel
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>

    <div *ngIf="afAuth.user" class="ml-lg-5">
      <button type="button" class="btn btn-outline-danger" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</div>

<ng-template #callAPIDialog>
  <form #userForm="ngForm" (ngSubmit)="onSend(userForm)">
    <label class="navbar-brand" style="color: rgb(89, 93, 97)"
      >Add a new Movie</label
    >
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputTitle"
        name="mName"
        aria-describedby="emailHelp"
        placeholder="Movie Title"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputCategory"
        name="mCategory"
        placeholder="Category"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputRating"
        name="mRating"
        placeholder="IMDb: Rating"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputDescription"
        name="mDescription"
        placeholder="Description"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Insert a cover photo here</label>
      <input
        type="file"
        accept=".jpg,.png"
        class="form-control-file"
        id="exampleFormControlFile"
        name="eImage"
        (change)="uploadImage($event)"
      />
    </div>

    <div *ngIf="persentage | async as pct">
      <div *ngIf="pct == 100" class="alert alert-success">
        Upload Successfuly !
      </div>
      <div class="uk-progress">
        <progress
          id="js-progressbar"
          class="progress-bar bg-info"
          [value]="pct"
          max="100"
        ></progress>
      </div>
    </div>
    <mat-dialog-actions align="end">
      <button mat-button matDialogClose="no">Cancel</button>
      <button type="submit" class="btn btn-primary" mat-button>Submit</button>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #callAPIDialogEdit>
  <form #userForm="ngForm" (ngSubmit)="Updatarecord(userForm)">
    <label class="navbar-brand" style="color: rgb(89, 93, 97)"
      >Edit Movie</label
    >
    <div class="card">
      <img
        [src]="getSantizeUrl(tempUrlForUpdate)"
        alt="..."
        class="img-thumbnail"
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputTitle"
        name="eName"
        placeholder="Movie Title"
        [(ngModel)]="mName"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputCategory"
        name="eCategory"
        placeholder="Category"
        [(ngModel)]="mCategory"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputRating"
        name="eRating"
        placeholder="IMDb: Rating"
        [(ngModel)]="mRating"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputDescription"
        name="eDescription"
        placeholder="Description"
        [(ngModel)]="mDescription"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Insert a cover photo here</label>
      <input
        type="file"
        accept=".jpg,.png"
        class="form-control-file"
        id="exampleFormControlFile"
        name="eImage"
        (change)="uploadImage($event)"
      />
    </div>

    <div *ngIf="persentage | async as pct">
      <div *ngIf="pct == 100" class="alert alert-success">
        Upload Successfuly !
      </div>
      <div class="progress">
        <progress
          id="js-progressbar"
          class="uk-progress"
          [value]="pct"
          max="100"
        ></progress>
      </div>
    </div>

    <mat-dialog-actions align="end">
      <button mat-button matDialogClose="no">Cancel</button>
      <button type="submit" class="btn btn-primary" mat-button>Submit</button>
    </mat-dialog-actions>
  </form>
</ng-template>

<div class="card-container d-flex p-lg-4">
  <mat-card
    class="card mr-lg-4"
    *ngFor="let item of listedMovies | filter: searchText"
  >
    <mat-card-title-group >
      <mat-card-title  class="card-title"
        ><b>{{ item.title }}</b></mat-card-title
      >
      <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
      <mat-card-subtitle>IMDb : {{ item.rating }}/10</mat-card-subtitle>
      <img mat-card-xl-image [src]="getSantizeUrl(item.imageURL)"/>
    </mat-card-title-group>
    <mat-card-content>
      {{ item.description }}
    </mat-card-content>
    <button
      type="button"
      class="btn btn-outline-warning mr-2"
      (click)="onEdit(item)"
    >
      Edit
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="deleteMovie(item.id)"
    >
      Delete
    </button>
  </mat-card>
</div>
