<div class="limiter">
    <div class="container-login100">
      <div class="content" role="main">
        <div class="content">
          <!-- Resources -->
          <h1>Movie Library</h1>
          <p>Choose your hobby as collecting movies...We will help you!</p>
  
          <div class="card-container d-flex p-5 align-items-center">
            <a class="card" rel="noopener" routerLink="/login" style="height: 50px;">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
  
              <span><b>Sign In</b></span>
  
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
            </a>
  
  
            <a class="card" rel="noopener" href="/register" style="height: 50px;">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
  
              <span><b>Sign Up</b></span>
  
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
            </a>
  
          </div>
  
  
          <!-- Footer -->
          <footer>
              Love Angular?&nbsp;
              <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
                <div class="github-star-badge">
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
                  Star
                </div>
              </a>
              <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              </a>
          </footer>
      </div>
  
      </div>
    </div>
  </div>
  
  